<?xml version='1.0' encoding='utf-8'?>
<widget id="za.co.digital22.bootstrap4" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bootstrap</name>
    <description>
        This is a Native mobile application for iOS, Android and Windows mobile that includes all the documentation for Bootstrap 4.
    </description>
    <author email="hello@22digital.co.za" href="https://22digital.co.za">
        22 Digital
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
